# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [36]:
import pandas as pd
import numpy as np

ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
df = pd.Series(anomalia, index=ano)
df

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [37]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

df1 = pd.Series(dic_temperaturas)
df1

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [38]:
arr = np.random.normal(100, 10, (20,3))
df2 = pd.DataFrame(arr,
                  columns=['random1', 'random2', 'random3'],
                  index= range(1,21)
                  )
df2

       random1     random2     random3
1    92.314176  105.779483   96.829307
2    95.105287   90.558384   95.240219
3   113.881390   91.763061  105.313005
4   109.124868   86.203609   89.377866
5   106.747927  104.407816  119.353919
6   110.028959  105.370855   93.012588
7   112.423476  101.355077  104.606964
8    88.124188   94.182583  110.017985
9    93.380522   85.230517  112.024038
10   92.176446   86.493980  111.089693
11  101.305981   99.996638  115.086599
12  111.500857   97.751122   85.303758
13  102.490692   96.468318   82.461064
14   90.940507   91.801305   94.676110
15   82.499981  113.256528  121.719332
16  117.577043  106.144706   86.233969
17   97.431374   89.241997  120.013812
18   98.028822   92.437565   96.221510
19  104.667332  108.871455  118.664741
20   88.138637   91.765499  103.775234

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [39]:
df2['media'] = (df2['random1'] + df2['random1'] + df2['random1'])/3
df2

       random1     random2     random3  media
1    92.314176  105.779483   96.829307    NaN
2    95.105287   90.558384   95.240219    NaN
3   113.881390   91.763061  105.313005    NaN
4   109.124868   86.203609   89.377866    NaN
5   106.747927  104.407816  119.353919    NaN
6   110.028959  105.370855   93.012588    NaN
7   112.423476  101.355077  104.606964    NaN
8    88.124188   94.182583  110.017985    NaN
9    93.380522   85.230517  112.024038    NaN
10   92.176446   86.493980  111.089693    NaN
11  101.305981   99.996638  115.086599    NaN
12  111.500857   97.751122   85.303758    NaN
13  102.490692   96.468318   82.461064    NaN
14   90.940507   91.801305   94.676110    NaN
15   82.499981  113.256528  121.719332    NaN
16  117.577043  106.144706   86.233969    NaN
17   97.431374   89.241997  120.013812    NaN
18   98.028822   92.437565   96.221510    NaN
19  104.667332  108.871455  118.664741    NaN
20   88.138637   91.765499  103.775234    NaN